.container{
  width: 1440px;
  height: 890px;
}
.upercase{
  width: 1440px;
  height: 592px;
  background-color: #FFCD9E;
  flex-shrink: 0;
}
.lowercase{
  width: 1440px;
  height: 298px;
  flex-shrink: 0;
  background-color: #282828;
}
.upperleft{
  width: 720px;
  height: 592px;
  float: left;
}
div > h1{
  width: 562px;
  height: 108px;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  font-family: inter;
  color:#282828;
  margin-top: 83px;
  margin-left: 136px;
}
#para{
  display: flex;
  width: 495px;
  height: 81px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 136px;

}
p{
  color: #484848;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
div > h3{
  display: flex;
  width: 227px;
  height: 81px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 136px;
}
h3{
  color: #282828;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
}
input{
  width: 344px;
  height: 64px;
  border-radius: 8px;
  border: 4px solid #000;
  background: #FFF;  
  margin-left: 136px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
::placeholder{
  color: #888;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  padding-left: 22px;
}
button{
  display: flex;
  width: 216px;
  height: 70px;
  justify-content: center;
  flex-direction: column;
  float: right;
  background-color:#282828;
  border-radius: 8px;
  font-size: 20px;
  color: #FFF;
  padding-left:40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#para2{
  display: flex;
  width: 344px;
  height: 61px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  margin-left: 134px;
}
.upperright{
  width: 720px;
  height: 592px;
  float: left;
}
.upperright > img{
  display: inline-flex;
  height: 575px;
  padding: auto auto;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.lowerleft{
  width: 720px;
  height: 298px;
  flex-shrink: 0;
  float: left;
}
.lowerright{
  width: 720px;
  height: 298px;
  flex-shrink: 0;
  float: left;
}
#list1{
  width: 216px;
  height: 36px;
  flex-shrink: 0;
  margin: 62px auto 200px 191px ;
}

.listitem{
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  list-style: none;
}
#list2{
  width: 216px;
  height: 36px;
  flex-shrink: 0;
  margin: 62px 93px 200px auto;
}